body{
  padding: 75px;
  font: 14px "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.nav-justified>li{
    vertical-align: middle;
}

.nav-justified>li a{
  height: 65px;
}

.nav-justified>li a p{
  margin-top: 15px;
}

.nav-justified>li:last-of-type a p{
  margin-top: 5px;
}

