body{
  padding: 50 50px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}

li{
    float: left;
    display:table;
    height: 100%;
    width: 16.5%;
}

li:last-of-type {
    width: 17.5%;
}

li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    display: table-cell; 
    vertical-align: middle;
    height: 100%;
}

li a:hover{
    background-color: black;
}

#logo{
	height: 10%;
}

#navbar{
	height: 10%;
}

#sidebar{
	display: inline-block;
	width: 33%;
	height: 100%;
}

#hours{
	height: 25%;
	background-color: grey;
}

#address{
	height: 25%;
	background-color: blue;
}

#map{
	height: 50%;
	background-color: green;
	overflow: hidden;
}

#directions{
	position: relative;
	left: 25%;
	bottom: -75%;
	width: 50%;
	height: 25%;
	background-color: white;
}

#directions:hover{
    background-color: red;
}

#descriptions{
	position: relative;
	left: 25%;
	width: 50%;
	height: 25%;
	background-color: white;
}

#image{
	float: right;
	display: inline-block;
	width: 67%;
	height: 100%;
	background-color: orange;
}