body{
  padding: 50 50px;
}

h1{
  display:table-cell; 
  vertical-align:middle;
	padding-top: 10px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 4px;
	font-size: 46px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}

li{
  float: left;
  display:table;
  height: 100%;
  width: 16.5%;
}

li:last-of-type {
  width: 17.5%;
}

li a{
  display: table-cell; 
  vertical-align: middle;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li a:hover{
	color: white;
  background-color: black;
}

#logo{
	height: 10.1%;
	width: 100%;
	text-align:center; 
  display:table;
}

#navbar{
	height: 10%;
}

#sidebar{
	display: inline-block;
	width: 33%;
	height: 100%;
}

#hours{
	display:table;
	height: 25%;
	width: 100%;
	background-color: white;
}

#hours div{
	display: table-cell; 
  vertical-align: middle;
  text-align: center;
}

#address{
	height: 25%;
	background-color: white;
}

#map{
	height: 50%;
	background-color: white;
	overflow: hidden;
}

#directions{
	position: relative;
	left: 25%;
	bottom: -75%;
	width: 50%;
	height: 25%;
	background-color: white;
}

#directions:hover{
    background-color: red;
}

#descriptions{
	position: relative;
	left: 25%;
	width: 50%;
	height: 25%;
	display:table;
	background-color: black;
	opacity: .6;
}

#descriptions div{
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  color: white;
}

#image{
	float: right;
	display: inline-block;
	width: 67%;
	height: 100%;
  background-image: url("../../assets/img/board_games.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}